{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 3000,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": "*.html",
			"options": {
				"parser": "html"
			}
		},
		{
			"files": "*.ts",
			"options": {
				"parser": "typescript"
			}
		}
	]
}
